version: 2
jobs:
  build:
    docker:
      - image: circleci/node:16.17
    steps:
      - checkout
      - run: echo "Starting..."
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: npm test
      - run: echo "Done!"
